# Pandas

# file Read Write operation

In [1]:
import numpy as np
import pandas as pd

In [5]:
dataframe = pd.read_csv("/content/data files /ex1.csv")
dataframe

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
type(dataframe)

pandas.core.frame.DataFrame

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dataframe[["message","a","b"]]

  message  a   b
0   hello  1   2
1   world  5   6
2     foo  9  10

In [ ]:
dataframe["message"]

0    hello
1    world
2      foo
Name: message, dtype: object

In [ ]:
df1=dataframe[["message","a","b","c","d"]]

In [ ]:
df1 = pd.read_csv("ex2.csv",names = ["a","b","c","d","e"])
df1

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [ ]:
df2 = pd.read_excel("C:\\Users\\anubh\\Downloads\\Book2.xlsx",engine = "openpyxl")
df2

   height   weight
0      120       56
1      120       56
2      120       56
3      122       57
4      122       57

In [ ]:
df3 = pd.read_excel("C:\\Users\\anubh\\Downloads\\marks.xlsx",engine = "openpyxl",sheet_name = "Sheet2")
df3

   consumer id   sales
0             1     355
1             2     178
2             3     338
3             4     170
4             5     305
5             6     179

In [ ]:
tsv file : tab separated file

In [ ]:
df2 = pd.read_table('test.tsv')  # Read a tsv into a DataFrame

df2

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [ ]:
df4 = pd.read_table("ex1.csv",sep = "")

In [ ]:
df = pd.read_table("ex1.csv",sep = ",")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
df = pd.read_csv("ex2.csv",header = None,names = ["a","b","c","d","e"])

In [ ]:
df

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [ ]:
df = pd.read_csv("ex2.csv",header = None, names = ["shaktiman","flash","ironman","thor","krrish"])
df

   shaktiman  flash  ironman  thor krrish
0          1      2        3     4  hello
1          5      6        7     8  world
2          9     10       11    12    foo

In [ ]:
df = pd.read_csv('ex2.csv',header = None, names = ["no.0","no.1","no.2","no.3","msg"])

In [ ]:
s = df[["no.1"]]

In [ ]:
df =pd.read_csv('ex2.csv', names=['asdfdsfs','fsdf', 'b', 'c', 'message'])
type(df)
df.head()

   asdfdsfs  fsdf   b   c message
0         1     2   3   4   hello
1         5     6   7   8   world
2         9    10  11  12     foo

In [ ]:
type(df['b'])
df['message']

0    hello
1    world
2      foo
Name: message, dtype: object

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
df = pd.read_csv("csv_mindex.csv",index_col = ["key1","key2"]);

In [ ]:
df

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [ ]:
df = pd.read_csv('csv_mindex.csv',index_col = ["key1","key2"])
df``

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [ ]:
df = pd.read_html("https://www.espn.in/football/standings/_/league/ind.1")
df[0]

                 2021/22 ISL
0          1JFCJamshedpur FC
1              2HYDHyderabad
2      3ATKMBATK Mohun Bagan
3     4KERKerala Blasters FC
4        5MCFCMumbai City FC
5           6BFCBengaluru FC
6              7OFCOdisha FC
7          8CFCChennaiyin FC
8                 9GOAFC Goa
9   10NEUNorthEast United FC
10      11EBENSC East Bengal

In [ ]:
df[1]

    GP   W  D   L   F   A  GD   P
0   20  13  4   3  42  21  21  43
1   20  11  5   4  43  23  20  38
2   20  10  7   3  37  26  11  37
3   20   9  7   4  34  24  10  34
4   20   9  4   7  36  31   5  31
5   20   8  5   7  32  27   5  29
6   20   6  5   9  31  43 -12  23
7   20   5  5  10  17  35 -18  20
8   20   4  7   9  29  35  -6  19
9   20   3  5  12  25  43 -18  14
10  20   1  8  11  18  36 -18  11

In [ ]:
df[0].rename(columns = {"2021-2022":"Teams"},inplace = True)

In [ ]:
df[0]

                          Teams
0           1MNCManchester City
1                 2LIVLiverpool
2                   3CHEChelsea
3         4MANManchester United
4           5WHUWest Ham United
5                   6ARSArsenal
6         7TOTTottenham Hotspur
7   8WOLWolverhampton Wanderers
8               9SOUSouthampton
9   10BHABrighton & Hove Albion
10          11CRYCrystal Palace
11          12LEILeicester City
12             13AVLAston Villa
13        14NEWNewcastle United
14               15BREBrentford
15            16LEELeeds United
16                 17EVEEverton
17                 18BURBurnley
18                 19WATWatford
19            20NORNorwich City

In [ ]:
data

                          Teams
0           1MNCManchester City
1                 2LIVLiverpool
2                   3CHEChelsea
3         4MANManchester United
4           5WHUWest Ham United
5                   6ARSArsenal
6         7TOTTottenham Hotspur
7   8WOLWolverhampton Wanderers
8               9SOUSouthampton
9   10BHABrighton & Hove Albion
10          11CRYCrystal Palace
11          12LEILeicester City
12             13AVLAston Villa
13        14NEWNewcastle United
14               15BREBrentford
15            16LEELeeds United
16                 17EVEEverton
17                 18BURBurnley
18                 19WATWatford
19            20NORNorwich City

In [ ]:
type(df[0])

pandas.core.frame.DataFrame

In [ ]:
type(df[1])

pandas.core.frame.DataFrame

In [ ]:
df2 = pd.concat([df[0],df[1]],axis=1)

In [ ]:
df2

                          Teams  GP   W   D   L   F   A  GD   P
0           1MNCManchester City  27  21   3   3  64  17  47  66
1                 2LIVLiverpool  26  18   6   2  70  20  50  60
2                   3CHEChelsea  25  14   8   3  49  18  31  50
3         4MANManchester United  27  13   8   6  44  34  10  47
4           5WHUWest Ham United  27  13   6   8  46  34  12  45
5                   6ARSArsenal  24  14   3   7  38  27  11  45
6         7TOTTottenham Hotspur  25  13   3   9  35  32   3  42
7   8WOLWolverhampton Wanderers  26  12   4  10  24  21   3  40
8               9SOUSouthampton  26   8  11   7  34  37  -3  35
9   10BHABrighton & Hove Albion  26   7  12   7  25  30  -5  33
10          11CRYCrystal Palace  27   6  12   9  37  38  -1  30
11          12LEILeicester City  24   8   6  10  39  43  -4  30
12             13AVLAston Villa  25   9   3  13  33  37  -4  30
13        14NEWNewcastle United  25   5  10  10  28  45 -17  25
14               15BREBrentford  27   6   6  15  27  44 -17  24
15            16LEELeeds United  26   5   8  13  29  60 -31  23
16                 17EVEEverton  24   6   4  14  28  41 -13  22
17                 18BURBurnley  25   3  12  10  22  32 -10  21
18                 19WATWatford  26   5   4  17  25  47 -22  19
19            20NORNorwich City  26   4   5  17  15  55 -40  17

In [ ]:
data_excel = pd.read_excel("ex1.xlsx",sheet_name = "Sheet1",engine = "openpyxl")

In [ ]:
data_excel

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [ ]:
data = pd.read_csv('ex4.csv',skiprows = [0,2,3])
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
result = pd.read_csv('ex5.csv')
result

  something  a   b    c   d message
0       one  1   2  3.0   4     NaN
1       two  5   6  NaN   8   world
2     three  9  10  NaN  12     foo

In [ ]:
result.isna().sum()

something    0
a            0
b            0
c            2
d            0
message      1
dtype: int64

In [ ]:
result = pd.read_csv('ex5.csv')
print(result)
result.isnull() #to have missing values

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [ ]:
result = pd.read_csv('ex5.csv', na_values='nan')
result.head()

  something  a   b    c   d message
0       one  1   2  3.0   4     NaN
1       two  5   6  NaN   8   world
2     three  9  10  NaN  12     foo

In [ ]:
import pandas as pd

In [ ]:
url = "https://www.basketball-reference.com/leagues/NBA_2015_standings.html"
bb = pd.read_html(url)
bb[0]

,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,Toronto Raptors*,49,33,.598,—,104.0,100.9,2.45
2,Boston Celtics*,40,42,.488,9.0,101.4,101.2,-0.40
3,Brooklyn Nets*,38,44,.463,11.0,98.0,100.9,-3.13
4,Philadelphia 76ers,18,64,.220,31.0,92.0,101.0,-9.04
5,New York Knicks,17,65,.207,32.0,91.9,101.2,-9.50
6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division
7,Cleveland Cavaliers*,53,29,.646,—,103.1,98.7,4.08
8,Chicago Bulls*,50,32,.610,3.0,100.8,97.8,2.54
9,Milwaukee Bucks*,41,41,.500,12.0,97.8,97.4,-0.09
10,Indiana Pacers,38,44,.463,15.0,97.3,97.0,-0.23
11,Detroit Pistons,32,50,.390,21.0,98.5,99.5,-1.39
12,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division
13,Atlanta Hawks*,60,22,.732,—,102.5,97.1,4.75
14,Washington Wizards*,46,36,.561,14.0,98.5,97.8,0.17
15,Miami Heat,37,45,.451,23.0,94.7,97.3,-2.92
16,Charlotte Hornets,33,49,.402,27.0,94.2,97.3,-3.44
17,Orlando Magic,25,57,.305,35.0,95.7,101.4,-5.87

In [ ]:
url = "http://www.basketball-reference.com/leagues/NBA_2015_totals.html"

BB_data = pd.read_html(url)         # Read data from the specified url

BB_data# Check 5 rows (10 columns only)

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [ ]:
df.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
df1 = pd.read_csv('ex6.csv',nrows = 500)
df1

          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   L
1   -0.358893  1.404453  0.704965 -0.200638   B
2   -0.501840  0.659254 -0.421691 -0.057688   G
3    0.204886  1.074134  1.388361 -0.982404   R
4    0.354628 -0.133116  0.283763 -0.837063   Q
..        ...       ...       ...       ...  ..
495  1.345822  2.363195 -1.405568  2.599800   3
496  0.173217 -0.116329  0.373466  0.381805   K
497 -0.289274  1.439352 -0.799853 -1.208543   O
498  1.094008  0.049683 -1.445820  0.540209   9
499  0.290745  0.590175  0.895260 -0.025518   Y

[500 rows x 5 columns]

In [ ]:
[1,2,3]+[5,6]

[1, 2, 3, 5, 6]

In [ ]:
l = [12,31,45,56]
l = iter(l)

In [ ]:
next(l)

StopIteration:

In [ ]:
tp = pd.read_csv('ex6.csv',iterator=True, chunksize=1000)
tp
#<pandas.io.parsers.TextFileReader object at 0x00000000150E0048>
# df2 = pd.concat(tp, ignore_index=True)

In [ ]:
data_0to999 = next(tp)

In [ ]:
data_0to999

          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   L
1   -0.358893  1.404453  0.704965 -0.200638   B
2   -0.501840  0.659254 -0.421691 -0.057688   G
3    0.204886  1.074134  1.388361 -0.982404   R
4    0.354628 -0.133116  0.283763 -0.837063   Q
..        ...       ...       ...       ...  ..
995  2.311896 -0.417070 -1.409599 -0.515821   M
996 -0.479893 -0.650419  0.745152 -0.646038   H
997  0.523331  0.787112  0.486066  1.093156   D
998 -0.362559  0.598894 -1.843201  0.887292   W
999 -0.096376 -1.012999 -0.657431 -0.573315   K

[1000 rows x 5 columns]

In [ ]:
data_1000to1999 = next(tp)
data_1000to1999

           one       two     three      four key
1000  0.467976 -0.038649 -0.295344 -1.824726   T
1001 -0.358893  1.404453  0.704965 -0.200638   J
1002 -0.501840  0.659254 -0.421691 -0.057688   R
1003  0.204886  1.074134  1.388361 -0.982404   S
1004  0.354628 -0.133116  0.283763 -0.837063   B
...        ...       ...       ...       ...  ..
1995  2.311896 -0.417070 -1.409599 -0.515821   L
1996 -0.479893 -0.650419  0.745152 -0.646038   J
1997  0.523331  0.787112  0.486066  1.093156   V
1998 -0.362559  0.598894 -1.843201  0.887292   W
1999 -0.096376 -1.012999 -0.657431 -0.573315   D

[1000 rows x 5 columns]

In [ ]:
data_0to999.to_csv("data.csv")

Writing Data to Text Format

In [ ]:
dates = pd.date_range('1/1/2000', periods=12)

In [ ]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
a = np.arange(12)

In [ ]:
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [ ]:
df = pd.DataFrame(data = a,index = dates)

In [ ]:
df

             0
2000-01-01   0
2000-01-02   1
2000-01-03   2
2000-01-04   3
2000-01-05   4
2000-01-06   5
2000-01-07   6
2000-01-08   7
2000-01-09   8
2000-01-10   9
2000-01-11  10
2000-01-12  11

In [ ]:
df = pd.DataFrame({"Age":[12,13,14,15],"height":[130,140,133,145]})

In [ ]:
df

   Age  height
0   12     130
1   13     140
2   14     133
3   15     145

In [ ]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),columns=['a', 'b', 'c'])

In [ ]:
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
df2["d"] = pd.Series([10,11,12])

In [ ]:
df2

   a  b  c   d
0  1  2  3  10
1  4  5  6  11
2  7  8  9  12

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df1 = pd.DataFrame({"Country":["ARG","BRA","IND","CHI","NZ","AUS"],"GDP":[1234,4567,7890,1234,3425,7891]})

In [ ]:
df1

  Country   GDP
0     ARG  1234
1     BRA  4567
2     IND  7890
3     CHI  1234
4      NZ  3425
5     AUS  7891

In [ ]:
df2.set_index(df2["a"],inplace =True,drop = False)

In [ ]:
df2.drop(columns = ["a"],inplace = True)

In [ ]:
df2

   b  c   d
a
1  2  3  10
4  5  6  11
7  8  9  12

In [ ]:
df1.drop(columns = ["Country"],inplace = True)

In [ ]:
df1

    GDP
0  1234
1  4567
2  7890
3  1234
4  3425
5  7891

In [ ]:
df1["Log_GDP"] = df1["GDP"].apply(lambda x :np.log(x))

In [ ]:
l = []
for i in df1["GDP"]:
    l.append(np.log(i))
l
df1["new_col"] = pd.Series(l,index = ["ARG","BRA","IND","CHI","NZ","AUS"])
df1

          GDP   Log_GDP   new_col
Country
ARG      1234  7.118016  7.118016
BRA      4567  8.426612  8.426612
IND      7890  8.973351  8.973351
CHI      1234  7.118016  7.118016
NZ       3425  8.138857  8.138857
AUS      7891  8.973478  8.973478

In [ ]:
df1

          GDP   Log_GDP
Country
ARG      1234  7.118016
BRA      4567  8.426612
IND      7890  8.973351
CHI      1234  7.118016
NZ       3425  8.138857
AUS      7891  8.973478

Working with Delimited Formats

In [ ]:
import csv
f = open('ex7.csv')
reader = csv.reader(f)
reader

In [ ]:
for i in reader:
    print(i)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']
['4', '5', '6']

In [ ]:
d = pd.read_csv("ex7.csv")
d

   a  b  c
0  1  2  3
1  1  2  3
2  4  5  6

In [ ]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']
['4', '5', '6']

In [ ]:
import csv

In [ ]:
with open('ex7.csv') as f:
    lines = list(csv.reader(f))

In [ ]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3'], ['4', '5', '6']]

In [ ]:
header, values = lines[0], lines[1:]

In [ ]:
header

['a', 'b', 'c']

In [ ]:
values

[['1', '2', '3'], ['1', '2', '3'], ['4', '5', '6']]

In [ ]:
a = dict(zip(header,values))

In [ ]:
a

{'a': ['1', '2', '3'], 'b': ['1', '2', '3'], 'c': ['4', '5', '6']}

In [ ]:
df = pd.DataFrame(a)

In [ ]:
df

   a  b  c
0  1  1  4
1  2  2  5
2  3  3  6

In [ ]:
l = ['a','b','c']
l1 = [1,2,3]
l2 = [30,40,50]
a = zip(l,l1,l2)

In [ ]:
list(a)

[('a', 1, 30), ('b', 2, 40), ('c', 3, 50)]

JSON Data

In [ ]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [ ]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [ ]:
result["siblings"]

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [ ]:
data = pd.DataFrame(result["siblings"])

In [ ]:
data

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [ ]:
data = pd.read_json('example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

XML and HTML: Web Scraping

In [ ]:
tables = pd.read_html('fdic_failed_bank_list.html')
len(tables)
# failures = tables[0]
# failures.head()

1

In [ ]:
tables[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [ ]:
tables[0].head(2)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"

In [ ]:
tables[0].tail(2)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [ ]:
tables[0].shape

(547, 7)

In [ ]:
tables[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Bank Name              547 non-null    object
 1   City                   547 non-null    object
 2   ST                     547 non-null    object
 3   CERT                   547 non-null    int64
 4   Acquiring Institution  547 non-null    object
 5   Closing Date           547 non-null    object
 6   Updated Date           547 non-null    object
dtypes: int64(1), object(6)
memory usage: 30.0+ KB

In [ ]:
df = tables[0]

In [ ]:
df["Closing Date"]

0      September 23, 2016
1         August 19, 2016
2             May 6, 2016
3          April 29, 2016
4          March 11, 2016
              ...
542         July 27, 2001
543           May 3, 2001
544      February 2, 2001
545     December 14, 2000
546      October 13, 2000
Name: Closing Date, Length: 547, dtype: object

In [ ]:
df["Closing Date"] = pd.to_datetime(df["Closing Date"])
df.dtypes

Bank Name                        object
City                             object
ST                               object
CERT                              int64
Acquiring Institution            object
Closing Date             datetime64[ns]
Updated Date                     object
Closing_Date             datetime64[ns]
dtype: object

In [ ]:
df.drop(columns = ["Closing_Date"],inplace = True)

In [ ]:
df.dtypes

Bank Name                        object
City                             object
ST                               object
CERT                              int64
Acquiring Institution            object
Closing Date             datetime64[ns]
Updated Date                     object
dtype: object

In [ ]:
df["Updated Date"] = pd.to_datetime(df["Updated Date"])

In [ ]:
df.dtypes

Bank Name                        object
City                             object
ST                               object
CERT                              int64
Acquiring Institution            object
Closing Date             datetime64[ns]
Updated Date             datetime64[ns]
dtype: object

In [ ]:
df["Closing Date"]

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

# Binary Data Formats

In [ ]:
frame = pd.read_csv('ex1.csv')
frame
frame.to_pickle('frame_pickle')

In [ ]:
pd.read_pickle('frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Using HDF5 Format

In [ ]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [ ]:
store['obj1']

           a
0   1.212260
1   1.438855
2  -0.426525
3   2.774679
4   1.090206
..       ...
95  2.261248
96 -1.936576
97  0.327743
98 -0.567130
99 -1.563750

[100 rows x 1 columns]

In [ ]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [ ]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0  1.212260
1  1.438855
2 -0.426525
3  2.774679
4  1.090206

# Web APIs

In [ ]:
import requests
import pandas as pd
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [ ]:
data = resp.json()

In [ ]:
data[0]["user"]

{'login': 'parthi-siva',
 'id': 25401444,
 'node_id': 'MDQ6VXNlcjI1NDAxNDQ0',
 'avatar_url': 'https://avatars.githubusercontent.com/u/25401444?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/parthi-siva',
 'html_url': 'https://github.com/parthi-siva',
 'followers_url': 'https://api.github.com/users/parthi-siva/followers',
 'following_url': 'https://api.github.com/users/parthi-siva/following{/other_user}',
 'gists_url': 'https://api.github.com/users/parthi-siva/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/parthi-siva/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/parthi-siva/subscriptions',
 'organizations_url': 'https://api.github.com/users/parthi-siva/orgs',
 'repos_url': 'https://api.github.com/users/parthi-siva/repos',
 'events_url': 'https://api.github.com/users/parthi-siva/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/parthi-siva/received_events',
 'type': 'User',
 'site_admin': False}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46982,1230675468,PR_kwDOAA0YD843jUMg,46982,TST: Assign back multiple column to datetime,...,2022-05-10T06:28:15Z,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,This tests make sure when converting multiple ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46981,1230515037,PR_kwDOAA0YD843i1nS,46981,CI: Move MacOS build from Azure to GHA,...,2022-05-10T03:26:54Z,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46979,1230332585,PR_kwDOAA0YD843iNu2,46979,API/TST: add tests for new copy/view behaviour,...,2022-05-09T22:50:06Z,None,MEMBER,None,False,{'url': 'https://api.github.com/repos/pandas-d...,This is broken off from https://github.com/pan...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46978,1230284390,I_kwDOAA0YD85JVKZm,46978,BUG: get_loc with partial string index does no...,...,2022-05-09T22:54:25Z,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46977,1230029147,I_kwDOAA0YD85JUMFb,46977,ENH: Support conditional selection for DataFra...,...,2022-05-09T21:32:09Z,None,NONE,None,NaN,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46976,1229989408,I_kwDOAA0YD85JUCYg,46976,BUG: dataframe.groupby raises type error when ...,...,2022-05-10T07:40:22Z,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46975,1229493892,I_kwDOAA0YD85JSJaE,46975,BUG: to_pydatetime not effective if some value...,...,2022-05-09T10:22:18Z,None,NONE,None,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46974,1229338108,I_kwDOAA0YD85JRjX8,46974,API: DataFrame setitem: setting columns with a...,...,2022-05-09T22:28:06Z,None,MEMBER,None,NaN,NaN,The case being considered here is when setting...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46972,1229109934,PR_kwDOAA0YD843eLWn,46972,WIP: ENH Add int[pyarrow] dtype,...,2022-05-09T19:31:21Z,None,MEMBER,None,True,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46970,1228949707,I_kwDOAA0YD85JQEjL,46970,BUG: BLD: asv-bot workflow doesn't work,...,2022-05-09T13:58:39Z,None,CONTRIBUTOR,None,NaN,NaN,I have been working on adding benchmarks using...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46968,1228858674,I_kwDOAA0YD85JPuUy,46968,merge.py,...,2022-05-08T11:05:56Z,None,NONE,None,NaN,NaN,### Installation check\n\n- [X] I have read th...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46965,1228664376,I_kwDOAA0YD85JO-44,46965,ENH: Dictionary based hatch for df.plot,...,2022-05-07T16:13:45Z,None,NONE,None,NaN,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46964,1228564724,I_kwDOAA0YD85JOmj0,46964,ENH: rank() should return 0 indexed values for...,...,2022-05-07T13:29:26Z,None,NONE,None,NaN,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46962,1228545494,I_kwDOAA0YD85JOh3W,46962,ENH: additional operator arguments for more ex...,...,2022-05-07T21:00:24Z,None,NONE,None,NaN,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46961,1228523534,I_kwDOAA0YD85JOcgO,46961,Subplot date ticks appear unevenly spaced with...,...,2022-05-07T04:32:02Z,None,NONE,None,NaN,NaN,The problem arises when plotting a time series...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46958,1228415712,PR_kwDOAA0YD843cGmB,46958,API: New copy / view semantics using Copy-on-W...,...,2022-05-09T21:27:41Z,None,MEMBER,None,True,{'url': 'https://api.github.com/repos/pandas-d...,This is a port of the proof of concept using t...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46956,1228298457,I_kwDOAA0YD85JNljZ,46956,ENH: print location of input error when readin...,...,2022-05-06T19:05:41Z,None,NONE,None,NaN,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46955,1228077639,I_kwDOAA0YD85JMvpH,46955,BUG: index_col=False doesn't work for unequal ...,...,2022-05-06T16:41:45Z,None,NONE,None,NaN,NaN,### Pandas version checks\r\n\r\n- [ ] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46954,1227361026,PR_kwDOAA0YD843Y7WR,46954,ENH: plot.scatter passes errorbar specific key...,...,2022-05-09T03:47:15Z,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,…rorbar() (#46952)\r\n\r\n- [x] closes #46952 ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46952,1227351060,I_kwDOAA0YD85JJ-QU,46952,ENH: plot.scatter should pass errorbar keyword...,...,2022-05-07T13:41:50Z,None,CONTRIBUTOR,None,NaN,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46951,1227347630,PR_kwDOAA0YD843Y4nJ,46951,Fix for issue #46870 DataFrame.select_dtypes(i...,...,2022-05-08T22:31:02Z,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #46870 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46947,1227015222,I_kwDOAA0YD85JIsQ2,46947,BUG: pd.DataFrame.sum with min_count changes d...,...,2022-05-06T06:26:28Z,None,CONTRIBUTOR,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46946,1226664366,I_kwDOAA0YD85JHWmu,46946,ENH:Need an option to get html and css separat...,...,2022-05-06T07:32:03Z,None,NONE,None,NaN,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46945,1226300505,I_kwDOAA0YD85JF9xZ,46945,QST: Why is my pandas.Interval-inherited class...,...,2022-05-05T07:35:31Z,None,CONTRIBUTOR,None,NaN,NaN,### Research\n\n- [X] I have searched the [[pa...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46944,1226057124,I_kwDOAA0YD85JFCWk,46944,DOC: _selected_obj vs _obj_with_exclusions,...,2022-05-04T23:19:50Z,None,MEMBER,None,NaN,NaN,"In the groupby code, when do/should we use sel...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46942,1225877074,PR_kwDOAA0YD843UKTe,46942,TYP: narrow type bounds on extract_array,...,2022-05-08T09:44:12Z,None,CONTRIBUTOR,None,False,{'url': 'https://api.github.com/repos/pandas-d...,xref https://github.com/pandas-dev/pandas/issu...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46941,1225687531,I_kwDOAA0YD85JDoHr,46941,ENH: Allow easy selection of ordered/unordered...,...,2022-05-05T23:11:15Z,None,NONE,None,NaN,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46940,1225394772,PR_kwDOAA0YD843SryN,46940,PERF: Improve SeriesGroupBy.value_counts perfo...,...,2022-05-06T15:37:49Z,None,NONE,None,False,{'url': 'https://api.github.com/repos/pandas-d...,- [X] closes #46202\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46939,1225253839,I_kwDOAA0YD85JB-PP,46939,BUG: pd.wide_to_long can't handle stubname equ...,...,2022-05-04T13:17:56Z,None,NONE,None,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46938,1225167599,PR_kwDOAA0YD843R77q,46938,ENH: validates boolean kwargs in DataFrame and...,...,2022-05-08T22:30:30Z,None,NONE,None,True,{'url': 'https://api.github.com/repos/pandas-d...,- [X] closes #16714 (for DataFrame and Series)...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None

In [ ]:
df.reactions[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46243/reactions',
 'total_count': 0,
 '+1': 0,
 '-1': 0,
 'laugh': 0,
 'hooray': 0,
 'confused': 0,
 'heart': 0,
 'rocket': 0,
 'eyes': 0}

In [ ]:
df1 = pd.DataFrame(data, columns = ["url","labels","state","reactions","created_at","updated_at"])

In [ ]:
df1[["created_at","updated_at"]]

              created_at            updated_at
0   2022-03-06T06:35:45Z  2022-03-06T06:35:45Z
1   2022-03-06T01:59:27Z  2022-03-06T01:59:27Z
2   2022-03-05T22:52:36Z  2022-03-05T22:52:38Z
3   2022-03-05T19:42:50Z  2022-03-06T02:54:18Z
4   2022-03-05T19:42:19Z  2022-03-05T19:45:06Z
5   2022-03-05T16:31:58Z  2022-03-06T07:11:03Z
6   2022-03-05T16:17:19Z  2022-03-06T04:21:44Z
7   2022-03-05T02:51:25Z  2022-03-06T01:33:03Z
8   2022-03-04T21:26:16Z  2022-03-05T17:17:45Z
9   2022-03-04T18:36:18Z  2022-03-05T17:37:55Z
10  2022-03-04T17:19:14Z  2022-03-04T17:19:14Z
11  2022-03-04T15:54:29Z  2022-03-05T05:10:49Z
12  2022-03-04T13:39:17Z  2022-03-05T17:29:54Z
13  2022-03-04T12:37:52Z  2022-03-05T17:12:07Z
14  2022-03-04T11:56:56Z  2022-03-06T06:31:46Z
15  2022-03-04T04:01:01Z  2022-03-06T04:51:43Z
16  2022-03-04T01:23:39Z  2022-03-05T18:05:37Z
17  2022-03-03T23:37:13Z  2022-03-05T14:10:48Z
18  2022-03-03T12:53:26Z  2022-03-06T00:55:53Z
19  2022-03-03T01:48:05Z  2022-03-05T17:06:36Z
20  2022-03-03T00:04:28Z  2022-03-06T00:33:04Z
21  2022-03-02T20:22:15Z  2022-03-05T14:04:44Z
22  2022-03-02T17:39:53Z  2022-03-03T22:44:23Z
23  2022-03-02T16:31:14Z  2022-03-05T02:20:10Z
24  2022-03-02T15:56:55Z  2022-03-06T04:13:36Z
25  2022-03-01T22:08:08Z  2022-03-05T17:04:01Z
26  2022-02-28T21:01:58Z  2022-03-03T04:55:40Z
27  2022-02-28T20:32:41Z  2022-02-28T20:32:41Z
28  2022-02-28T14:59:21Z  2022-02-28T15:03:11Z
29  2022-02-28T10:03:02Z  2022-02-28T10:11:45Z

In [ ]:
data = resp.json()
data[2]['user']

{'login': 'lukemanley',
 'id': 8519523,
 'node_id': 'MDQ6VXNlcjg1MTk1MjM=',
 'avatar_url': 'https://avatars.githubusercontent.com/u/8519523?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/lukemanley',
 'html_url': 'https://github.com/lukemanley',
 'followers_url': 'https://api.github.com/users/lukemanley/followers',
 'following_url': 'https://api.github.com/users/lukemanley/following{/other_user}',
 'gists_url': 'https://api.github.com/users/lukemanley/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/lukemanley/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/lukemanley/subscriptions',
 'organizations_url': 'https://api.github.com/users/lukemanley/orgs',
 'repos_url': 'https://api.github.com/users/lukemanley/repos',
 'events_url': 'https://api.github.com/users/lukemanley/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/lukemanley/received_events',
 'type': 'User',
 'site_admin': False}

In [ ]:
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45171',
  'id': 1092271890,
  'node_id': 'PR_kwDOAA0YD84wdHw6',
  'number': 45171,
  'title': 'allow multiple series argument calling in ufunc',
  'user': {'login': 'miettal',
   'id': 118803,
   'node_id': 'MDQ6VXNlcjExODgwMw==',
   'avatar_url': 'https://avatars.githubusercontent.com/u/118803?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/miettal',
   'html_url': 'https://github.com/miettal',
   'followers_url': 'https://api.github.com/users/miettal/followers',
   'following_url': 'https://api.github.com/users/miettal/following{/other_user}',
   'gists_url': 'https://api.github.com/users/miettal/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/miettal/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/miettal/subscriptions',
   'organizations_url': 'https://api.github.com/users/miettal/orgs',
   'repos_url': 'https://api.github.com/users/miettal/repos',
   'events_url': 'https://api.github.com/users/miettal/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/miettal/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-01-03T07:04:04Z',
  'updated_at': '2022-01-03T07:06:14Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45171',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45171',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/45171.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45171.patch',
   'merged_at': None},
  'body': '- [ ] closes #39853\r\n- [ ] tests added / passed\r\n- [ ] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit) for how to run them\r\n- [ ] whatsnew entry\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45171/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45170',
  'id': 1092216466,
  'node_id': 'PR_kwDOAA0YD84wc8FP',
  'number': 45170,
  'title': "PERF: expanding/rolling.min/max with engine='numba'",
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'},
   {'id': 1045950827,
    'node_id': 'MDU6TGFiZWwxMDQ1OTUwODI3',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Window',
    'name': 'Window',
    'color': 'd4c5f9',
    'default': False,
    'description': 'rolling, ewma, expanding'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-01-03T04:25:59Z',
  'updated_at': '2022-01-03T05:50:38Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45170',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45170',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/45170.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45170.patch',
   'merged_at': None},
  'body': '- [x] tests added / passed\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit) for how to run them\r\n- [x] whatsnew entry\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45170/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45169',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45169/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45169/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45169/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45169',
  'id': 1092196515,
  'node_id': 'PR_kwDOAA0YD84wc30E',
  'number': 45169,
  'title': 'ASV: Add merge on categorical benchmarks',
  'user': {'login': 'lukemanley',
   'id': 8519523,
   'node_id': 'MDQ6VXNlcjg1MTk1MjM=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8519523?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/lukemanley',
   'html_url': 'https://github.com/lukemanley',
   'followers_url': 'https://api.github.com/users/lukemanley/followers',
   'following_url': 'https://api.github.com/users/lukemanley/following{/other_user}',
   'gists_url': 'https://api.github.com/users/lukemanley/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/lukemanley/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/lukemanley/subscriptions',
   'organizations_url': 'https://api.github.com/users/lukemanley/orgs',
   'repos_url': 'https://api.github.com/users/lukemanley/repos',
   'events_url': 'https://api.github.com/users/lukemanley/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/lukemanley/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-01-03T03:29:12Z',
  'updated_at': '2022-01-03T03:29:12Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45169',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45169',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/45169.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45169.patch',
   'merged_at': None},
  'body': '- [x] closes #30513\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit) for how to run them\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45169/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45169/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45168',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45168/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45168/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45168/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45168',
  'id': 1092157952,
  'node_id': 'PR_kwDOAA0YD84wcvuD',
  'number': 45168,
  'title': 'API: Allow other na values in StringArray Constructor',
  'user': {'login': 'lithomas1',
   'id': 47963215,
   'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/lithomas1',
   'html_url': 'https://github.com/lithomas1',
   'followers_url': 'https://api.github.com/users/lithomas1/followers',
   'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
   'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
   'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
   'repos_url': 'https://api.github.com/users/lithomas1/repos',
   'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-01-03T01:21:24Z',
  'updated_at': '2022-01-03T04:23:00Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45168',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45168',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/45168.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45168.patch',
   'merged_at': None},
  'body': "- [ ] closes #xxxx\r\n- [ ] tests added / passed\r\n- [ ] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit) for how to run them\r\n- [ ] whatsnew entry\r\n\r\naround 20-30% perf regression compared to master on added benchmarks. Still faster than 1.3.x so the regression is not user visible if we merge this for 1.4.0.\r\nreally just a quick and dirty solution to unblock @jbrockmendel.\r\nThe best solution would be to go through ensure_string_array(which is what _from_sequence does), but that would take a lot of effort to avoid perf regressions(it seems like ensure_string_array does not type its ``arr`` arg and also takes in EA inputs? we should probably restrict to numpy arrays as suggested by a code comment in the stub file).\r\n\r\nI'll open an issue as a follow-up.",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45168/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45168/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45167',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45167/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45167/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45167/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45167',
  'id': 1092123052,
  'node_id': 'PR_kwDOAA0YD84wcoQb',
  'number': 45167,
  'title': 'TST: tests for nullable issues',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-01-02T23:19:19Z',
  'updated_at': '2022-01-03T01:24:28Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45167',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45167',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/45167.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45167.patch',
   'merged_at': None},
  'body': '- [x] closes #39616\r\n- [x] closes #39649\r\n- [x] closes #22793\r\n- [x] closes #34497\r\n- [x] tests added / passed\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit) for how to run them\r\n- [ ] whatsnew entry\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45167/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45167/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45166',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45166/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45166/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45166/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45166',
  'id': 1092115671,
  'node_id': 'PR_kwDOAA0YD84wcm3i',
  'number': 45166,
  'title': 'REF: separate numpy-specific part of can_hold_element',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-01-02T22:36:46Z',
  'updated_at': '2022-01-02T23:27:54Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/45166',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/45166',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/45166.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/45166.patch',
   'merged_at': None},
  'body': "By returning the value instead of just a bool, we open the option to return the _casted_ value, which is what we'll do in the follow-up, which will let us de-duplicate NumericIndex._validate_fill_value.  By separating out the np-specific parts, we'll be able to improve perf in a couple of places.",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45166/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45166/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45164',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45164/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45164/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/45164/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/45164',
  'id': 1091963224,
  'node_id': 'PR_kwDOAA0YD84wcKyu',
  'number': 45164,
  'title': 'TST: Clean pg8000 test',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',

In [ ]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,46244,DOC: Fix `DataFrame.plot.scatter` link in 1.5....,[],open
1,46243,CLN: Assorted cleanups,[],open
2,46242,Backport PR #46204 on branch 1.4.x (PERF: avoi...,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
3,46241,CI/TYP: pyright reportSelfClsParameterName,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
4,46240,BUG: read_stata ignores columns parameter and ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
5,46239,DOC+BUG: `Styler.to_excel` pseudo css `number-...,"[{'id': 1728592794, 'node_id': 'MDU6TGFiZWwxNz...",open
6,46238,Bug fix - cannot construct Index of empty tuples,"[{'id': 71268330, 'node_id': 'MDU6TGFiZWw3MTI2...",open
7,46236,troubleshoot 32bit build,[],open
8,46232,Adding overwrite or ignore behavior for row co...,"[{'id': 47232590, 'node_id': 'MDU6TGFiZWw0NzIz...",open
9,46231,DOC: Added plt.show() at the end of each neces...,"[{'id': 2413328, 'node_id': 'MDU6TGFiZWwyNDEzM...",open
10,46230,BUG: pd.DataFrame.interpolate fails with Value...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,46229,BUG: Saving to Stata exception - TypeError: en...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
12,46227,DOC: migrate from sphinx-panels to sphinx-design,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
13,46226,ENH: Let callables in .loc and .iloc take an o...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
14,46225,BUG: outer join out of order when joining mult...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,46222,TYP: pd.isna,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
16,46221,BUG: read_sql with query doesn't get metadata ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,46218,BUG: pd.cut regression starting in version 1.4...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
18,46210,BUG: UserWarning about lacking infer_datetime_...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
19,46209,BUG: Fix some cases of groupby(...).transform ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,46207,REF: Move Categorical logic from Grouping (#46...,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
21,46205,DOC: provide detailed information about buildi...,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
22,46203,REF: Refactor `Grouping` class to use delegate...,[],open
23,46202,BUG: very slow groupby(col1)[col2].value_count...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,46199,Test : Pandas 1.0.5 → 1.1.0 behavior change on...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
25,46195,DOC: Clarify groupby.first does not use nulls,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
26,46187,BUG: AttributeError: 'TextFileReader' object h...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
27,46185,BUG: df.A raises AttributeError if column inde...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,46179,BUG: Series.add(DataFrame) fails to align,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,46178,BUG: Merge error when merge col is int64 and I...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open

# Interacting with Databases

In [ ]:
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database4.db")

db.execute("drop table if exists test")
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata1.sqlite')
con.execute(query)
con.commit()

In [ ]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [ ]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [ ]:
cursor

sqlite3.Cursor

In [ ]:
rows

list

In [ ]:
import pandas as pd

In [ ]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [ ]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [ ]:
#!/usr/bin/python

import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database5.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [ ]:
db.commit()

In [ ]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print((row))
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [ ]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results: print(row)
print("-"* 60 )

(102, 'Gary', 90)
------------------------------------------------------------

In [ ]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [ ]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [ ]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [ ]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)